
.DS_Store
JupyterNotebooks/George/.ipynb_checkpoints/CasesOverTime-checkpoint.ipynb
JupyterNotebooks/George/.ipynb_checkpoints/MyCases-checkpoint.ipynb
JupyterNotebooks/George/.ipynb_checkpoints/CasesVsWealth-checkpoint.ipynb
.ipynb_checkpoints/MainApp-checkpoint.ipynb
.ipynb_checkpoints/Sample-checkpoint.ipynb
.ipynb_checkpoints/CasesAndDeaths-checkpoint.ipynb
~$oject 1 Covid-19 .docx
PowerPoint/~$COVID_19 API Interactions.pptx
